nav {
  background-color: #ffffff;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      display: inline-grid;

      a {
        background-color: #000000;
        color: #ffffff;
        margin: 4px 0px 4px 4px;
        padding: 4px;
        text-decoration: none;

        &:hover {
          background-color: #ffffff;
          color: #000000;
        }
      }
    }
  }
}

.active {
  background-color: #ffffff;
  color: #000000;
}
